xhtml2pdf
docx
adal==0.4.6
amqp==2.1.4
appdirs==1.4.3
asn1crypto==0.22.0
billiard==3.5.0.2
cachey==0.1.1
celery==4.0.2
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.3
crypto==1.4.1
cryptography==3.3.2
Cython
datashape==0.5.2
decorator==4.0.11
Django==2.2.13
django-bootstrap3==9.1.0
django-celery-results==1.0.1
django-common-helpers==0.9.1
django-cors-headers==1.3.1
django-cron==0.5.0
django-jchart==0.4.1
django-picklefield==0.3.2
django-sendfile==0.3.11
django-tenant-schemas==1.8.0
django-wkhtmltopdf==3.1.0
djangorestframework==3.9.1
djangorestframework-jwt==1.10.0
EasyProcess==0.2.3
ez-setup==0.9
gunicorn==19.7.1
HeapDict==1.0.0
httpie==1.0.3
idna==2.5
img2pdf==0.2.4
isodate==0.5.4
Js2Py==0.50
keyring==10.4.0
kombu==4.0.2
lxml
multipledispatch==0.4.9
mysqlclient==1.3.10
Naked==0.1.31
networkx==1.11
num2words==0.5.4
numpy>=1.12.1
oauthlib==2.0.2
odo==0.5.0
olefile==0.44
packaging==16.8
pandas
pdfkit==0.6.1
Pillow==9.3.0
psycopg2==2.7.1
pycparser==2.18
pycrypto==2.6.1
Pygments==2.1.3
pyjsparser==2.5.2
PyJWT==1.4.2
pymongo==3.3.1
pyparsing==2.2.0
python-dateutil==2.6.0
python-pptx==0.6.6
pytz==2018.3
PyVirtualDisplay==0.2.1
PyYAML
requests==2.20.0
requests-oauthlib==0.8.0
scipy==0.19.0
SecretStorage==2.3.1
selenium==3.4.3
shellescape==3.4.1
six==1.10.0
SQLAlchemy==1.1.10
toolz
tzlocal==1.4
urllib3==1.24.2
vine==1.1.3
wkhtmltopdf==0.2
xlrd==1.1.0
XlsxWriter==0.9.8
truepy==2.0.2
django-role-permissions
xlutils
django-nose
coverage
python-docx
openpyxl
mock
requests_html
fire
matplotlib==2.2.2
django-hardcopy==0.1.3
pymysql
cx_Oracle
timeout_decorator
pyodbc
docker==3.5.1
